.evaluacion_laboral {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

/* inico modificaciones
para desepeño laboral*/

.first_line {
  display: flex;
  justify-content: center;
  color: #5585b5;
  height: 20%;
  align-items: center;
  font-size: 1.7em;
}

.second_line {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: flex-end;
  width: 90%;
  height: 60px;
  border-radius: 5px;
}


.boton_Eva{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(5, 192, 5);
  width: 180px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.4em;
  cursor: pointer;
}

.boton_Eva:hover{
  background-color: rgb(22, 207, 22);
}



.third_line {
  width: 95%;
  margin-top: 25px;
  height: 65%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  height: 50px;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.user_line:hover {
  background-color: #dbdbdb;
  transition: 0.4s;
}

.name {
  width: 30%;
}

.TextU {
  display: flex;
  justify-content: flex-start;
}

.document {
  width: 20%;
}

.cargo {
  width: 35%;
}

#ContainerCardInfo { 
  display: none;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.185);
  z-index: 3;
}

#Containershow { 
  display: none;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.185);
  z-index: 3;
}

#CardInfo {
  position: fixed;
  top: 25%;
  left: 20%;
  width: 70%;
  height: 60%;
  background-color: white;
  border-radius: 5px;
  display: none;
  z-index: 3;
  gap: 5px;
}

#ShowInfo {
  position: fixed;
  top: 25%;
  left: 20%;
  width: 70%;
  height: 50%;
  background-color: white;
  border-radius: 5px;
  display: none;
  z-index: 4;
  gap: 5px;
}

  .UserInfo {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;

  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.datos_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 1.1em;
  color: #3b3b3c;
}

.circle{
  width: 160px;
  height: 160px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.User_img {
  width: 120px;
 
  border-radius: 10%;
  
}

.Evaluaciones_user {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.Evaluaciones_user h3 {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #5585b5;
}

.Evas_container {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Evas {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 2px;
  border-radius: 2px;
  background-color: #ececec;
  justify-content: space-between;
  font-weight: bold;
}

.name_eva {
  width: 30%;
}

.iconos {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 40%;
}

.iconss {
  width: 30px;
  cursor: pointer;
}

.state {
  background-color: rgb(7, 235, 7);
  width: 10%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.state2 {
  background-color: rgb(235, 22, 7);
  width: 10%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.img_user {
  width: 55px;
  height: 75px;
  border-radius: 80%;
}

/* modificaciones de ventana modal para definir usuario a evaluar */

#dark {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.363);
  z-index: 4;
}

#ventana_evalu {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: rgb(237, 244, 252);
  height: 350px;
  width: 550px;
  top: 25%;
  left: 35%;
  z-index: 5;
  padding: 15px;
  border-radius: 5px;
  gap: 10px;
}

#ventana_evalua {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: rgb(237, 244, 252);
  height: 350px;
  width: 550px;
  top: 25%;
  left: 35%;
  z-index: 5;
  padding: 15px;
  border-radius: 5px;
  gap: 10px;
}

#close {
  display: flex;
  justify-content: flex-end;
}

#close img {
  width: 25px;
  cursor: pointer;
}

.title_evaluando {
  text-align: center;
  font-size: 2.5rem;
}

.title_eva {
  font-size: 1.5em;
}
.evaluando {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
}

#DatosDes{
  display: none;
  flex-direction: column;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#DatosDes p{
  font-size: 1.3em;
  color: #4a5258;
}

.identidad {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 200px;
}

.periodo_evaluar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.periodo_evaluar input[type="date"] {
  height: 30px;
  font-size: 1.2em;
}

.fecha_container {
  display: flex;
  gap: 20px;
}

.fecha {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.fecha p {
  font-size: 1.3em;
}

.evaluando input[type="text"] {
  font-size: 1.2em;
  height: 30px;
  width: 40%;
  padding-left: 5px;
}

.evaluando input[type="number"] {
  font-size: 1.2em;
  height: 30px;
  width: 40%;
  padding-left: 5px;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ventana_evalu input[type="submit"] {
  background-color: rgb(2, 204, 2);
  height: 40px;
  width: 80%;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
}

/* fin de modificaciones */

/* fin de modificaciones */

/* configuraciones para buscador  */

.mauso {
  width: 50%;
}

.mauso input[type="text"] {
  height: 50px;
  width: 300px;
}

.mauso-texto {
  width: 100%;
  height: 100px;
  padding: 11px;
  font-size: 15px;
  line-height: 16px;
  border-radius: 5px;
  border: 1px solid #ccd0d5;
  color: #1c1e21;
  background: #f5f6f7;
  position: relative;
  z-index: 1;
  font-family: sans-serif;
}
.mauso-texto:focus {
  outline: none;
}

.mauso-resultados {
  display: none;
  padding: 0.3rem 0rem;
  left: 5px;
  width: 98.5%;
  position: absolute;
  height: auto;
  max-height: 10ch;
  z-index: 2;
  background-color: white;
  border-radius: 5px;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.mauso-resultados div {
  padding: 0.2rem 0.5rem;
  height: 2.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #333;
  font-size: 15px;
}

.mauso-resultados div svg {
  fill: #3030308a;
  rotate: 150deg;
  margin-right: 5px;
}

.mauso-resultados div p {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.agg {
  display: block;
  transition: display 0.5s all;
}

.aggdisplay {
  display: flex;
  transition: display 2s all;
}

/* inicio de modificaciones modulos para evaluar */
.evaluacion_ventana {
  display: none;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.modulos_eva {
  height: 80%;
  overflow: auto;
  margin-bottom: 50px;
}

.enviar {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  background-color: rgb(3, 214, 3);
}

#return {
  position: absolute;
  right: 50px;
  top: 40px;
  cursor: pointer;
  background-color: red;
  color: white;
  width: 100px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  border-radius: 5px;
}

#ventanaeliminar{
  display: none;
  justify-content: center;
  align-items: center;

  background-color: #1c1e217e;
  
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  z-index: 5;
  

}

#VentanaAlerta{
  display: none;
  justify-content: center;
  align-items: center;

  background-color: #1c1e217e;
  
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  z-index: 5;
  

}


#VentanaConfirm{
  height: 180px;
  width: 40%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}


.botos{
  display: flex;
  justify-content: center;
  gap: 25px;
}


.text_delete{

  color: #4a5258;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.continue{
  background-color: blue;
  color: white;
  height: 40px;
  width: 180px;
  border-radius: 5px ;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel{
  background-color: red;
  color: white;
  height: 40px;
  width: 180px;
  border-radius: 5px ;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_ventana {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  color: #5585b5;
}

.modulos_eva {
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  overflow: auto;
}

.modulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 95%;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.modulo:hover {
  background-color: #dbdbdb;
  transition: 0.4s;
}

.number_mod {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  border: 1px solid black;
  border-radius: 50%;
}

.check {
  background-color: rgb(0, 223, 0);

  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 45deg;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  border: 3px solid rgb(0, 223, 0);
  border-radius: 50%;
  margin-right: 80px;
  transform: rotatey(180deg);
}

.check p {
  color: white;
  font-size: 1.8em;
}

.check1 {
  background-color: rgb(223, 7, 0);
  color: white;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  font-size: 1.5em;
  border: 3px solid rgb(223, 7, 0);
  border-radius: 50%;
  margin-right: 80px;
  transform: rotatey(180deg);
}

.check1 p {
  font-size: 1.5em;
  font-weight: lighter;
}

.check2 {
  background-color: rgba(148, 148, 148, 0.781);

  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  font-size: 1.5em;
  border: 3px solid rgba(148, 148, 148, 0.781);
  border-radius: 50%;
  margin-right: 80px;
  transform: rotatey(180deg);
}

.check2 P {
  display: none;
}

.check2 img {
  display: none;
}

/* FIN de modificaciones */



#notUsers{
  display: flex;
  justify-content: center;
  align-items:center ;
  position: absolute;
  bottom: 10%;
  left: 45%;
  font-size: 1.8em;
}

/* inicio presentcion de tablas */
.fechas {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.fechaD {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.fechasDA {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.fechaF {
  color: #6c757d;
  font-size: 0.9em;
}
.datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  border: 1px solid rgba(120, 120, 120, 0.571);
  width: 100%;
}

.title_datos {
  padding-top: 10px;
  font-size: 1.5em;
  text-transform: uppercase;
}

.datosP {
  display: flex;
  gap: 5px;
}

.datosP p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.datosP input[type="text"] {
  height: 30px;
  border-radius: 2px;
  border: solid black 1px;
  font-size: 0.7em;
  padding-left: 5px;
}

.datosP input[type="number"] {
  font-size: 0.7em;
  padding-left: 5px;
  height: 30px;
  border-radius: 2px;
  border: solid black 1px;
}

.dependencias {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.dependencias label {
  width: 150px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.cargoT {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.cargoT div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 33.3%;
  margin-bottom: 20px;
}

.cargoT div input[type="text"] {
  height: 30px;
  border: 1px solid black;
  padding-left: 5px;
  font-size: 0.8em;
  border-radius: 2px;
}

.cargoT div select {
  height: 30px;
}

/* fin modificaciones tabla-DatosPersonales */

.esconder_modulo {
  display: none;
}

.table {
  width: 90%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}

.active {
  display: flex;
}

.table_title {
  display: flex;

  width: 90%;
}

.title_name {
  border: 1px solid black;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}






/* configuracion de buscador y demás funciones------------------------------*/


.opciones_user{
  margin: 25px 15px 25px 15px;
  display: flex; 
  justify-content: space-around;
  height: 50px;
  align-items: center;
}

#add{
  width: 50px;
  cursor: pointer;
}

#Users{
  overflow: auto;
  height: 85%;
}

.SinInfo{
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.SinInfo img{
  width: 60%;
}




.SinInfo p{
  font-size: 1.5em;
}


.UserEva{
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.UserEva img{
  width: 50%;



}


.UserEva p{
  font-size: 1.5em;
}

#addUser{
display: none;
flex-direction: column;
  position: fixed;
  background-color: white ;
  width: 60%;
  height: 70%;
  top: 20%;
  z-index: 4;
}


#campos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  height: 80%;
}


#previewImage{
  width: 120px;
  height: 150px;
}

#searchInput{
  border:1px solid rgb(77, 80, 82);
  border-radius: 5px;
  height: 40px;
  width: 300px;
  font-size: 1.2em ;
  color: rgb(77, 80, 82);
  padding-left: 5px;
}

/* ----------------------------------------------------------------------- */


.factor {
  width: 28%;
}

.califi {
  width: 15%;
}

.total {
  width: 10%;
}

.table_body {
  display: flex;
  flex-direction: column;

  width: 90%;
}

.observacion {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cubeO {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cubeO p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 90%;
  border: 1px solid black;
}

.cuadro {
  padding: 5px;
  font-size: 1.1em;
  width: 90%;
}

.tablaTotal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.totalEva {
  display: flex;
  width: 100%;
  height: 50px;
}

.NameTotal {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.nota {
  width: 14%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rangos_calificacion {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;
}

.tablasMejoras {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.tablasMejoras h2 {
  text-align: center;
  margin-bottom: 15px;
}

.tablaMejora {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.tablaMejora p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  border: 1px solid black;
}

.enblanco {
  width: 28%;
  border: 1px solid black;
  height: 30px;
}

.rangos {
  width: 15%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.enblanco2 {
  width: 10%;
  height: 50px;
  border: 1px solid black;
}

.enblanco2 input[type="number"] {
  width: 100%;
  height: 48px;
  font-size: 1.1em;
  border: none;
}

.rangos p {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  width: 100%;
  height: 30px;
}

.first_question {
  display: flex;
  width: 100%;
  height: 50px;
}

.pregunta {
  border: solid 1px black;
  width: 28%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pregunta {
  font-size: 100%;
}
.notas {
  width: 15%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.notas p {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}
